{
	"presets": ["@babel/preset-env", "@babel/preset-react","@babel/preset-typescript"],
	"plugins": [
    ["react-css-modules",{
      "exclude":"node_modules",
      "skip":true,
      "autoResolveMultipleImports":true
    }],
		["@babel/plugin-proposal-decorators", {
			"legacy": true
		}],
		"react-hot-loader/babel",
		"@babel/plugin-proposal-class-properties",
		"@babel/plugin-proposal-export-default-from",
		"@babel/plugin-transform-runtime",
		[
      "import",
      {
        "libraryName": "antd",
        "style": "css",
        "libraryDirectory": "es"
      },
      "antd"
    ] 
	]
}
